﻿@model IEnumerable<BawwaMartApplication.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
    </p>
}

@foreach (var eventItem in Model)
{
    <div class="col-md-12">
        <h2>@eventItem.Title</h2>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = eventItem.Id }, new { @class = "btn btn-sm btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id = eventItem.Id }, new { @class = "btn btn-sm btn-danger pull-right" })
        }
        @eventItem.Description
        <hr />

        <img src="@Url.Content(eventItem.Image)" alt="Image" height="768" width="1140" />
        <hr />
    </div>
}
