﻿@model BawwaMartApplication.Models.Pet

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Pet Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetCategory.Name)
        </dd>

        <dt>
            @Html.DisplayName(" Title")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales.FirstOrDefault().Title)
        </dd>

        <dt>
            @Html.DisplayName(" Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


        <hr />

        <dt>
            @Html.DisplayName("Created By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayName("Created Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayName("Modified By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

        <dt>
            @Html.DisplayName("Modified Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
