﻿@model BawwaMartApplication.Models.Pet

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Sales.FirstOrDefault().Title)</h2>

<div>
    @if (User.Identity.Name != Model.Sales.FirstOrDefault().AspNetUser.Email)
    {
        <input type="button" class="btn btn-warning" value="Contact Seller" data-toggle="modal" data-target="#sellerModal" />

        if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
        }
    }
    else
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) <span>|</span> 
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>

        <dd>
            @foreach (var petImage in Model.PetImages)
            {
                <img src="@Url.Content(petImage.ImageUrl)" alt="Image" height="100" width="100" />
            }
        </dd>
        <hr />
        <dt>
            @Html.DisplayName("Title")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales.FirstOrDefault().Title)
        </dd>

        <dt>
            @Html.DisplayName("Pet Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetCategory.Name)
        </dd>

        <dt>
            @Html.DisplayName(" Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales.FirstOrDefault().Price)
        </dd>

        <dt>
            @Html.DisplayName("District")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales.FirstOrDefault().District)
        </dd>

        <hr />
        <dt>
            @Html.DisplayName("Created Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayName("Modified Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

    </dl>
</div>
<!-- Modal -->
<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="sellerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="sellerModalLabel">Seller Info</h2>

            </div>
            <div class="modal-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Full Name")
                        </dt>

                        <dd>
                            @ViewBag.FullName
                        </dd>
                        <dt>
                            @Html.DisplayName("Mobile")
                        </dt>
                        <dd>
                            @ViewBag.Phone
                        </dd>
                        <dt>
                            @Html.DisplayName("Email")
                        </dt>
                        <dd>
                            @ViewBag.Email
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<p>
    @if (User.Identity.Name == Model.Sales.FirstOrDefault().AspNetUser.Email)
    {
        
    }

    @Html.ActionLink("Back to List", "Index")
</p>
