﻿@model IEnumerable<BawwaMartApplication.Models.Pet>

@{
    ViewBag.Title = "Index";
}

<h2>Find your Pet</h2>

<form class="pet-search-form" id="myForm" action="/Pet/Search" method="Post">
    <div class="form-row">
        <div class="col-md-2">
            @Html.DropDownList("PetCategoryId", new SelectList(ViewBag.PetCategoryList, "id", "name"), new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <input type="text" name="Keyword" class="form-control" placeholder="Keyword">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>



<table class="table pet-table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.PetImages.FirstOrDefault().ImageUrl)" alt="Image" height="100" width="100" class="img-thumbnail" />
            </td>
            <td>
                <p>@Html.ActionLink(@item.Sales.FirstOrDefault().Title, "Details", "Pet", new { id = item.Id }, null)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sales.FirstOrDefault().Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>
