﻿@model IEnumerable<BawwaMartApplication.Models.Pet>

@{
    ViewBag.Title = "Mine";
}

<h2>Your Adds</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.PetImages.FirstOrDefault().ImageUrl)" alt="Image" height="100" width="100"  class="img-thumbnail"  />
            </td>
            <td>
                <p>@Html.ActionLink(@item.Sales.FirstOrDefault().Title, "Details", "Pet", new { id = item.Id }, null)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sales.FirstOrDefault().Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>
