﻿@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    <h2>Welcome @ViewBag.BawwaMartUser.FirstName !</h2>
}
else
{
    <h2>Welcome !</h2>
}
<hr />

<div class="row">
    <div id="welcomeCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#welcomeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#welcomeCarousel" data-slide-to="1"></li>
            <li data-target="#welcomeCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner welcome-carousel">
            <div class="item active">
                <img src="~/Resources/welcome_dog.jpg" alt="Image" />
            </div>
            <div class="item">
                <img src="~/Resources/welcome_parrot.jpg" alt="Image" />
            </div>
            <div class="item">
                <img src="~/Resources/welcome_cat.jpg" alt="Image" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var pet in ViewBag.Pets)
    {
        foreach (var sale in pet.Sales)
        {
            <div class="col-md-4">
                <h2>@sale.Title</h2>

                <div id="petCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#petCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#petCarousel" data-slide-to="1"></li>
                        <li data-target="#petCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner add-carousel">
                        @{int i = 0;}
                        @foreach (var image in pet.PetImages)
                        {
                            if (i == 0)
                            {
                                <div class="item active">
                                    <img src="@Url.Content(image.ImageUrl)" alt="Image" />
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <img src="@Url.Content(image.ImageUrl)" alt="Image" />
                                </div>
                            }
                            i++;

                        }
                    </div>
                </div>
                <p>
                    @pet.Description
                </p>
                <p>@Html.ActionLink("More", "Details", "Pet", new { id = pet.Id }, null)</p>
            </div>
        }
    }
</div>
