﻿@model IEnumerable<BawwaMartApplication.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayName("Email Confirmed")
        </th>
        <th>
            @Html.DisplayName("Mobile")
        </th>
        <th>
            @Html.DisplayName("Mobile Confirmed")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
